{% extends 'base.html' %}{% set active_page = "events" %}{% block content %}{%
include 'dashnav.html' %}
<div class="full-main-dashboard" data-aos="fade-up">
  <h1>{{event.eventName}}</h1>
  <hr />
  <div
    class="container"
    style="float: left; text-align: left; width: 50%; padding: 10px"
  >
    <img
      class="card-img-top"
      src="{{event.imageURL}}"
      alt="Card image cap"
      style="
        width: 400px;
        height: 300px;
        float: left;
        border-radius: 10px;
        margin-bottom: 10px;
      "
    />
    <h3 style="clear: both">Event Name: {{event.eventName}}</h3>
    <h3>
      Goal Progress:
      <span style="color: green">${{event.currentRaised}}</span>/${{event.goal}}
    </h3>
    <h3>Recent Donator: Michael</h3>
    <h3>Created By: {{event.creator}}</h3>
    <br />
  </div>
  <div
    class="container"
    style="float: right; text-align: center; width: 50%; padding: 10px"
  >
    <h2>Donation History</h2>
    <br />
    <h4>Michael: $20</h4>
    <h4>Job: $20</h4>
    <h4>Job: $20</h4>
    <br />
    <a
      class="btn btn-dark btn-lg my-2 my-sm-0 lead"
      href="{{ url_for('dashboard') }}"
    >
      Set as Active Donation
    </a>
  </div>
  {% endblock %}
</div>
